.navbar {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: #ffffff;
  border-bottom: 1px solid #E9E9E9;

  transition: transform 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
}

.container {
  max-width: 72rem; // 1152px
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  color: #000000;
  transition: opacity 0.2s ease;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 11rem;
  padding: 1.25rem;
  background-color: #ffffff;
  border: 1px solid #E9E9E9;
  list-style: none;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-1rem);
  transition: all 0.2s ease;
}

.submenu li {
  padding: 0.5rem 0;
  font-size: 0.8125rem;
  font-weight: 400;
  white-space: nowrap;
  transition: color 0.2s ease, padding-left 0.2s ease;
  border-bottom: 1px solid #E9E9E9;
  position: relative;

  &:hover {
    color: #969696;
    padding-left: 0.5rem;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  &::after {
    content: url('/icons/chevron-right.svg');
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
  }
}

.menuItem:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(1rem);
}


@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
}